@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
    /* Feel free to remove these styles or customise in your own stylesheet 👍 */

$dark: #141414;
$gray: #696969;
$white: #fafafa;

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

    /* Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    a {
        color: $dark;
    }
}

body {
    font-family: 'Epilogue';
    background: $white;
}

    /* Header */
header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    ul {
        display: flex;
        gap: 10px;
        button {
            gap: 10px;
            font-size: 17px;
            border: none;
            padding: 10px;
            display: flex;
            align-items: center;
            color: $gray;
            background-color: transparent;
        }
        li {
            gap: 10px;
            padding: 10px;
            display: flex;
            align-items: center;
            color: $gray;
            a {
                color: $gray;
                &:hover {
                    color: $dark;
                }
            }
        }
    }
}

#down-features {
    cursor: pointer;
    position: relative;
    &:hover {
        color: $dark;
    }
}

.features {
    top: 40px;
    right: 0;
    display: none;
    padding:0 15px;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    li {
        color: $dark;
    }
}

#down-company {
    cursor: pointer;
    position: relative;
    &:hover {
        color: $dark;
    }
}

    .company {
        top: 40px;
        left: 0;
        display: none;
        padding:0 15px;
        background: #fff;
        position: absolute;
        border-radius: 10px;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    li {
        color: $dark;
    }
}

.navbar {
    gap: 35px;
    width: 100%;
    display: flex;
}

#navbar-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login-btn {
    width: 100px;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: $gray;
}
.register-btn {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    color: $gray;
    background-color: transparent;
    border: 2px solid $gray;
}


@media only screen and (max-width: 750px) {
    header {
        padding: 15px;
        align-items: center;
        ul {
            li {
                padding: 5px;
            }
        }
    }
    .navbar {
        gap: 10px;
    }
}

@media only screen and (max-width: 600px) {
    header ul {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    #mobile-menu {
        display: flex;
        flex-direction: column;
    }

    #navbar-menu {
        right: 0;
        top: 60px;
        gap: 20px;
        width: 300px;
        display: flex;
        padding: 20px;
        height: 100vh;
        position: absolute;
        flex-direction: column;
        justify-content: normal;
        background: #fafafa;
        display: none;
    }
    .log-btn {
        //display: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .register-btn {
        width: 150px;
    }
    #menu-hamburger {
        cursor: pointer;
    }
}

@media only screen and (min-width: 600px) {
    .log-btn {
        display: flex;
        
    }
    #menu-hamburger {
        display: none;
    }
}

    /* Main */
main {
    gap: 200px;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.image-hero-desktop {
    width: 350px;
}

.info {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    h1 {
        font-size: 4rem;
    }
    p {
        width: 420px;
        line-height: 1.4rem;
    }
    button {
        width: 120px;
        border: none;
        color: #fff;
        padding: 12px;
        cursor: pointer;
        border-radius: 10px;
        background: $dark;
    }
}

@media only screen and (min-width: 1440px) {
    .image-hero-mobile {
        display: none;
    }
}

@media only screen and (max-width: 1440px) {
    .image-hero-mobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }
    .image-hero-desktop {
        display: none;
    }
    .image-hero-mobile {
        display: block;
        width: 100%;
    }
    .info {
        align-items: center
    }
    .info h1 {
        font-size: 3rem;
    }
    .info p {
        display: flex;
        width: 80vw;
    }
}

@media only screen and (max-width: 750px) {
    main {
        gap: 10px;
        margin-top: 40px;
    }
    .image-hero-desktop {
        width: 250px;
    }
    .info {
        gap: 20px;
    }
}

@media only screen and (max-width: 880px) {
    main {
        gap: 20px;
    }
}

.marcas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}